.chess-table{
    
}
.normal-cell{
    border: 3px solid rgba(100, 100, 100, 0);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.white-cell{
    background: linear-gradient(45deg, lightgray, white);
}
.black-cell{
    background: linear-gradient(45deg, darkgray, black);
}
.errorMessage{
    color: red;
    font-weight: bold;
}
.BeingMove{
    border: 3px solid red;
}
.LegalMove{
    border: 3px solid lightgreen;
}